html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("../images/backgrounds/hero.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html,
body,
header,
#end {
    height: 100%;
}

#end {
    background: url("../images/backgrounds/about.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.click{
    margin-top: 80px;
}

.center{
    margin-top: 180px;
}

.center2{
    margin-top: 0px;
    border: 2px solid #89866A;
}

.radio{
    height: 100px;
}

.radio-button{
    margin-top: 20px;
    margin-left: 80px;
}

.products{
    background-color: #78281F  ;
}

.divider{
    background-color: #99A3A4;
    height: 2px;
}

.circles{
    margin-top: 10px;
    margin-left: 150px;
}

.cards{
    margin-top: 40px;
    margin-bottom: 40px;

}

.card-image{
    max-width: 40%;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.price{
    float: right;
    margin-right: 20px;
}

.item{
    margin-left: 20px;
}
.navbar-brand{
    margin-right: 450px;
}

.nav-link{
    margin-right: 80px;
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }  
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }

  